body {
    font-family: 'Quicksand', sans-serif;
    background-image:   url("images/whisk.gif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
h4 {
    text-align: justify
}
.padding {
    padding-top: 20px;
}