body {
    background-image: url("images/snowflake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.myhead-container {
    background-image: url("images/sugarcookies.jpg");
    background-position: center;
    vertical-align: middle;
    line-height: 200px;
    height: 200px;
    width:600px;
    height:200px;
}
.left {
    float: left;
    padding: 0 100px 200px 50px;
}
