body {
    background-image:  url("images/snowflake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    background-image: url("images/sugarcookies.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left:    0px;
    margin-right:   0px;
    padding-left:   0px;
    padding-right:  0px;
}
.textpad {
    padding: 15px 25px 15px 25px
}
.text-justify {
    text-align: justify;
}
.imgpad {
    padding-left: 25px;
}
.imgresize {
    width: 85%;
    height: 85%;
}
.shadow {
    text-shadow:7px 7px 10px rgb(202, 122, 192);
}
.fontcookie {
    font-family: 'Cookie', cursive;
    font-size: 6em;
}
.fontcookiemedium {
    font-family: 'Cookie', cursive;
    font-size:  2em;
}
.fontcookiesmall {
    font-family: 'Cookie', cursive;
    font-size:  1.5em;
}
.img-responsive {
    max-width: 100%; 
    height: auto; 
    display: block;
}
.img-center {
    text-align: center;
}
.jumbotron {
    background-image: url("images/blueflakes.jpg");
    margin-left:    55px;
    margin-right:   55px;
    margin-bottom:  30px;
    margin-top:     30px;
    padding-bottom: 30px;
    padding-top:    50px;
}
.jumbo2 {
    background-image: url("images/xmaswallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:    200px;
    margin-right:   200px;
    margin-top:
    position: relative;
    left: auto;
    right: auto;
    padding: 50px 0;
    text-align: center;
    overflow:  hidden;

}
.menuitem {
    display:inline;
    font-family:Arial;
    font-size:1em;
    background-color: #87fad7;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 5px;
    margin-right:7px;

    transition-property:border-bottom;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.fontbox {
    font-size:  1em;
    font-family: 'Quicksand', sans-serif;
}
.circle-square{
    border-radius:50%;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.panel-body {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}
.paddingtop {
    padding-top: 20px;
}
